# Configurações do Banco de Dados PostgreSQL
DB_USER=seu_usuario
DB_HOST=localhost
DB_NAME=biblioteca_academica
DB_PASSWORD=sua_senha
DB_PORT=5432

# Configurações do Servidor
PORT=3001

# Chave secreta JWT
JWT_SECRET=super_secret_jwt_key_bibliotech_2026
